<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290043039925-bo0fgtvoo9g7tafe1ovn0878a1iqq4hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290043039925-bo0fgtvoo9g7tafe1ovn0878a1iqq4hu</string>
	<key>API_KEY</key>
	<string>AIzaSyAgdCb2Ib0xco_U4FgocNnzgpE1aymnI3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>290043039925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AS.IChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-cf99b</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-cf99b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290043039925:ios:411c099a61c9aeb637aefc</string>
	<key>DATABASE_URL</key>
	<string>https://ichat-cf99b.firebaseio.com</string>
</dict>
</plist>